
img
{
	border: 0px;
}

i, em
{
	font-style: italic;
}

a
{
	color: inherit;
	text-decoration: none;
}

textarea:focus, input:focus
{
    outline: 0;
}

body
{
	font-family: 'oswald_regularregular';
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	color: #000000;
	z-index: 1;
	width: 100%;
}

h1
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h2
{
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h3
{
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 10px;
}



.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#footer
{
	position: fixed;
	bottom: 0px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #818181;
	background-color: #fafafa;
	text-align: center;
	font-family: 'oswaldextralight';
	z-index: 5;
}

#header
{
	position: fixed;
	overflow: hidden;
	height: 60px;
	left: 0px;
	top: 0px;
	background-color: #fafafa;
	border-bottom: 1px solid #e7eaec;
}

	#searchbar
	{
		position: relative;
		float: right;
		margin: 15px 0px 15px 0px;
		height: 30px;
	}
	
		.searchbar_keywords
		{
			display: none;
		}
	
		#searchbar input
		{
			position: relative;
			border: 0px;
			background-color: #EDEBE2;
			color: #000000;
			line-height: 30px;
			width: 200px;
			font-size: 16px;
			padding: 0px 3px;
			font-weight: normal;
			height: 30px;
		}
		
		::-webkit-input-placeholder {
		   color: #757575;
		}
		
		:-moz-placeholder { /* Firefox 18- */
		   color: #757575;  
		}
		
		::-moz-placeholder {  /* Firefox 19+ */
		   color: #757575;  
		}
		
		:-ms-input-placeholder {  
		   color: #757575;  
		}

	#logout
	{
		position: relative;
		float: left;
		height: 30px;
		margin: 25px 25px 25px 10px;
	}
	
	#settings
	{
		position: relative;
		float: left;
		height: 30px;
		margin: 25px 10px 25px 10px;
	}
	
	#langswitch
	{
		position: relative;
		float: right;
		line-height: 40px;
		margin: 10px 0px;
		margin-left: 190px;
		text-align: center;
	}
	
		#langswitch span
		{
			font-size: 15px;
			margin-right: 10px;
			width: 20px;
			cursor: pointer;
		}
		
		#langswitch span:last-child
		{
			margin-right: 0px;
		}
		
		#langswitch .activelang
		{
			text-decoration: underline;
		}
			
	
			
	
	#clientlogo
	{
		position: relative;
		float: left;
		height: 40px;
		margin: 10px;
	}
	
	#help_icon
	{
		position: relative;
		float: right;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 16px;
		color: #000000;
		margin: 15px 15px 15px 0px;
	}
	
	.header_disruptor
	{
		position: relative;
		float: right;
		margin: 10px 20px;
		height: 40px;
		width: 2px;
		background-color: #e7eaec;
	}
	

	
#techheader
{
	position: fixed;
	padding: 7px 0px;
	margin: 0px 15px;
	background-color: #ffffff;
	border-bottom: solid 1px #dadada;
	
}

	#techlist
	{
		position: relative;
		float: left;
		overflow: hidden;
		margin-left: 20px;
	}
	
		.tech
		{
			position: relative;
			float: left;
			line-height: 20px;
			margin: 0px 4px;
			cursor: pointer;
			background-color: #ffffff;
			color: #000000;
			
		}
		
			.techname
			{
				position: relative;
				float: left;
				line-height: 20px;
				font-size: 20px;
				margin: 7px 5px 0px 5px;
				text-transform: uppercase;
				font-weight: bold;
			}
			
			.techlogo
			{
				position: relative;
				float:left;
				width: 20px;
				height: 20px;
				margin: 5px 0px 5px 5px; 
			}
			
			
			.techmenu_item_active .techname
			{
				text-decoration: underline;
			}
	
#sidemenu
{
	position: fixed;
	width: 250px;
	left: 0px;
	background-color: #fafafa;
	border-right: 1px solid #e7eaec;
	font-weight: bold;
	overflow-y: auto;
	z-index: 10;
}

	#sidemenu a
	{
		color: inherit;
		text-decoration: none;
	}
		
	#logo
	{
		position: relative;
		margin: 15px 25px 65px 25px;
		height: 50px;
	}
	

	.sidemenu_headline
	{
		position: relative;
		font-size: 17px;
		text-transform: uppercase;
		padding-left: 25px;
		background-color: #000000;
		color: #ffffff;
		line-height: 30px;
	}
	
	.sidemenu_item
	{
		position: relative;
		font-size: 14px;
		padding-left: 25px;
		cursor: pointer;
		overflow: hidden;
		line-height: 30px;
		text-transform: uppercase;
		font-family: 'oswaldextralight';
		color: #757575;
		font-weight: normal;
	}
	
		.sidemenu_item span
		{
			float: left;
		}
	
		.sidemenu_item_active
		{
			background-color: #EDEBE2;
		}
	
	.sidemenu_reset
	{
		cursor: pointer;
		margin-top: 50px;
	}	


#content
{
	position: fixed;
	overflow-y: auto;
	background-color: #ffffff;
}	

#mosaic
{
	position: relative;
	padding: 15px;
}	
	
	.content
	{
		position: relative;
		width: 200px;
		overflow: hidden;
		margin-bottom: 15px;
		padding: 7px;
		background-color: #fafafa;
		border: solid 1px #edebe2;
	}
	
		.content img
		{
			width: 200px;
			height: 200px;
		}
		
		.citation img
		{
			width: 200px !important;
			height: 263px !important;
		}
		
		.content_3 img
		{
			width: 662px !important;
			height: 263px !important;
		}
	
		
		.content_text
		{
			position: relative;
			height: 50px;
			padding: 10px 6px 3px 6px;
			background-color: #fafafa;
		}
		
			.content_headliner
			{
				font-weight: bold;
				text-transform: uppercase;
				font-size: 17px;
				
			}
			
			.content_subheader
			{
				font-size: 12px;
			}

	.content_3
	{
		width: 662px !important;
	}
			
		.content_text_3
		{
			position: absolute;
			z-index: 20;
			top: 7px;
			right: 7px;
			width: 200;
			height: 263px;
			padding: 7px;
			background-color: rgba(255,255,255,0.8);
		}	
		
			.content_text_3 .content_headliner
			{
				position: relative;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 35px;
				margin-bottom: 7px;
			}
			
			.content_text_3 .content_subheader
			{
				font-size: 12px;
			}
	
#content_container
{
	position: relative;
	width: 750px;
	margin: 0px auto;
	overflow: hidden;
	background-color: #ffffff;
	padding: 15px 15px;
}

	.module
	{
		border: 0px;
		cursor: auto;
	}

	
	#finish_quiz
	{
		position: relative;
		float: left;
		width: 40%;
		line-height: 30px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 15px 30%;
		border: solid 2px;
		cursor: pointer;
	}
	
	.question_background
	{
		background-color: #edece2 !important;
		margin-top: 15px !important;
	}
	
#question_block
{
	position: relative;
	margin-bottom: 20px;
	color: #5a5952;
	text-align: center;
	overflow: hidden;
}

	.question_block_top
	{
		position: relative;
		width: 50px;
		font-size: 18px;
		padding-top: 4px;
		margin-bottom: 5px;
	}
	
	.question_block_bottom
	{
		position: relative;
		font-size: 28px;
		width: 50px;
	}
	
	#question_block .right
	{
		float: right;
	}
	
	#question_block .left
	{
		float: left;
	}

	
	
.results
{
	position: relative;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	background-color: ffffff;
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
	font-family: 'TradeGothic-Light';
}	

	.results a
	{
		text-decoration: underline;
	}
	
#progressbar
{
	height: 15px;
}



.profile_item
{
	position: relative;
	background-color: #ffffff;
	border-radius: 10px;
	margin: 15px;
	border: 1px solid #e7eaec;
	overflow: hidden;
	font-family: 'TradeGothic-Light';
	margin-top: 8px;
}

	.profile_item_header
	{
		position: relative;
		background-color: #EDEBE2;
		padding: 10px 15px 5px 15px;
		font-size: 20px;
	}

	#quiztable
	{
		position: relative;
		margin: 10px 15px 15px 15px;
		font-size: 16px;
		width: 100%;
		font-family: 'TradeGothic-Light';
	}
	
		#quiztable th
		{
			font-weight: bold;
			font-family: 'TradeGothic-Light';
		}
	
		#quiztable td
		{
			padding: 0px;
			line-height: 20px;
			font-family: 'TradeGothic-Light';
		}
		
		#quiztable td img
		{
			position: relative;
			width: 20px;
			height: 20px;
		}
		
		#quiztable .centered
		{
			text-align: center;
		}

		
#calendar_header
{
	position: relative;
	text-align: center;
	padding: 15px 0px;
	color: #818181;
}

	#calendar_headline
	{
		position: relative;
		font-size: 25px;
		text-transform: uppercase;
	}
	
	#calendar_subline
	{
		position: relative;
		margin-top: 7px;
		font-size: 16px;
	}
	
#calendar_container
{
	position: relative;
	background-color: #dcdbd3;
	border: solid 1px #818181;
	padding: 15px 0px;
	overflow: hidden;
	height: 250px;
	color: #5a5952;
}	

	.calendar_control
	{
		position: relative;
		width: 50px;
		float: left;
		height: 100%;
	}
	
		.calendar_control img
		{
			position: absolute;
			width: 25px;
			left: 12px;
			top: 80px;
			cursor: pointer;
		}
		
		.calendar_control p
		{
			position: absolute;
			width: 50px;
			left: 0px;
			top: 110px;
			text-align: center;
			cursor: pointer
		}
		
	.calendar
	{
		width: 210px;
		float: left;
		cellspacing: 0px;
		border-collapse: collapse;
		margin-right: 9px;
		color: #5a5952;
	}

		.calendar_month
		{
			position: relative;
			border-bottom: 0px !important;
			padding-bottom: 5px !important;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		
	
		#calendar_next
		{
			margin-right: 0px;
		}
		
		.calendar td, .calendar th
		{
			padding: 0px;
			margin: 0px;
			width: 30px;	
			vertical-align: middle;
		}
	
		.calendar td
		{
			height: 30px;
			font-size: 13px;
			text-align: center;
			
		}
		
		.hasLesson
		{
			background-image: url('../img/calendar_bg.png');
			background-size: 100% auto;
			background-repeat: no-repeat;
			color: #ffffff !important;
			cursor: pointer;
		}
		
		.calendar th
		{
			height: 20px;
			border-bottom: solid 1px #5a5952;
		}
		
		.lessongroup
		{
			position: relative;
		}
			
			.lessongroup_header
			{
				position: relative;
				color: #818181;
				padding-top: 30px;
				padding-bottom: 10px;
				font-size: 20px;
				text-align: center;
				text-transform: uppercase;
			}
			
			.lessongroup_toggle
			{
				position: relative;
				font-size: 15px;
				color: #818181;
				padding-bottom: 15px;
				text-align: center;
			}
			
				.lessongroup_toggle span
				{
					position: relative;
					text-align: center;
					margin: auto;
					cursor: pointer;
				}
			
				.lesson
				{
					position: relative;
					background-color: #dcdbd3;
					border: solid 1px #818181;
					border-top: 0px;
					color: #5a5952;
				}
				
					.lesson_open
					{
	
					}
				
					.first_lesson
					{
						border-top: solid 1px #818181;
					}

				
					.lesson_header
					{
						position: relative;
						overflow: hidden;
						line-heigth: 40px;
						margin-right: 50px;
						font-family: 'TradeGothic-Light';
					}
				
						.lesson_header_toggle
						{
							position: relative;
							float: left;
							width: 50px;
							background-image: url("../img/acc_arrow_right.png");
							background-position: center center;
							background-repeat: no-repeat;
							height: 40px;
							cursor: pointer;
						}
						
						.lesson_header_name
						{
							position: relative;
							float: left;
							text-transform: uppercase;
							line-height: 40px;
							width: 548px;
							font-family: 'TradeGothic-Light';
						}
						
						.lesson_header_time
						{
							position: relative;
							float: right;
							text-transform: uppercase;
							line-height: 40px;
							width: 100px;	
							text-align: right;
						}
						
						.lesson_open .lesson_header_name
						{
							border-bottom: solid 1px #818181;
						}
						
						.lesson_open .lesson_header_time
						{
							border-bottom: solid 1px #818181;
						}
						
						.lesson_open .lesson_header_toggle
						{
							background-image: url("../img/acc_arrow_down.png");
						}

					.lesson_content
					{
						position: relative;
						padding: 15px 50px;
						overflow: hidden;
						display: none;
					}

						.lesson_content_desc
						{
							position: relative;
							float: left;
							width: 420px;
							font-size: 13px;
							font-family: 'TradeGothic-Light';
						}
						
						.lesson_content_info
						{
							position: relative;
							float: left;
							width: 213px;
							margin-left: 15px;
							font-family: 'TradeGothic-Light';
						}
						
							.lesson_content_info_desc
							{
								position: relative;
								float: left;
								width: 78px;
								font-size: 13px;
								text-transform: uppercase;
								padding-bottom: 3px;
								
							}
							
							.lesson_content_info_data
							{
								position: relative;
								float: left;
								width: 135px;
								font-size: 13px;
								padding-bottom: 3px;
							}
					
							
						.lesson_register
						{
							position: relative;
							width: 213px;
							height: 30px;
							line-height: 30px;
							background-color: #0cbcfd;
							color: #ffffff;
							font-size: 15px;
							text-transform: uppercase;
							text-align: center;
							margin-top: 10px;
							cursor: pointer;
						}	
						
						.lesson_register_success
						{
							position: relative;
							display: none;
							margin-top: 10px;
							width: 100%;
							text-align: left;
							font-weight: bold;
							font-size: 13px;
						}
						
						.lesson_register_loading
						{
							position: relative;
							display: none;
							margin: auto;
							width: 16px;
							height: 16px;
							margin-top: 10px;
						}
						

#gallery
{
	position: relative;
	padding: 15px;
}						
						
	#galleryHeader
	{
		position: relative;
		margin-bottom: 10px;
		overflow: hidden;
	}
	
		#galleryHeadline
		{
			position: relative;
			float: left;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 1px;
		}
		
		#galleryItemcount
		{
			position: relative;
			float: right;
			font-size: 17px;
			font-weight: bold;
			letter-spacing: 1px;
		}
							
	#galleryContainer
	{
		position: relative;
		display: table;
	}						
						
	
		.galleryItem
		{
			position: relative;
			float: none;
			display: table-cell;
			vertical-align: middle;
			max-width: 200px;
			max-height: 200px;
			text-align: center;
			padding: 5px;
		}
		
			.galleryItem img
			{
				position: relative;
				display: table-cell;
				vertical-align: middle;
				max-height: 200px;
				max-width: 200px;
				cursor: pointer;
			}
			
#searchheader
{
	position: relative;
	padding: 15px;
	overflow: hidden;
}

	#searchheader_searchterm
	{
		position: relative;
		float: left;
		margin-right: 10px;
		line-height: 30px;
		font-size: 16px;
		font-weight: bold;
	}

	#searchheader input
	{
		position: relative;
		float: left;
		border: 0px;
		background-color: #EDEBE2;
		color: #000000;
		line-height: 30px;
		width: 300px;
		font-size: 16px;
		padding: 0px 3px;
		font-weight: normal;
	}
	
	#searchheader_searchresult
	{
		position: relative;
		float: right;
		line-height: 30px;
		font-size: 16px;
		margin-right: 10px;
	}
	
	#searchheader_searchtotal
	{
		position: relative;
		float: right;
		line-height: 30px;
		font-weight: bold;
		font-size: 16px;
		margin-right: 30px;
	}


#searchresults
{
	position: relative;
	padding: 15px;
}

	.searchresult
	{
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-bottom: 15px;
		font-family: 'TradeGothic';
	}
	
		.searchresult_image
		{
			position: relative;
			width: 200px;
			height: 200px;
			float: left;
		}
		
			.searchresult_image img
			{
				position: relative;
				vertical-align: center;
				max-width: 200px;
				max-height: 200px;
			}
			
		.searchresult_description
		{
			position: relative;
			float: left;
			margin-left: 15px;
			width: 500px;
		}	
		
			.searchresult_title
			{
				position: relative;
				font-size: 18px;
				text-decoration: underline;
				text-transform: uppercase;
			}
			
			.searchresult_highlight
			{
				position: relative;
				margin-top: 10px;
				font-size: 15px !important;
				text-align: left !important;
				color: #000000;
			}
			
				.searchresult_highlight .highlight
				{
					font-weight: bold;
					color: #000000;
				}
				
			.searchresult_techs
			{
				position: relative;
				margin-top: 10px;
				overflow: hidden;
			}	
			
				.searchresult_techs_item
				{
					position: relative;
					float: left;
					margin-right: 10px;
					overflow: hidden;
				}	
				
					.searchresult_techs_item_image
					{
						position: relative;
						width: 15px;
						height: 15px;
						text-align: center;
						float: left;
					}
					
						.searchresult_techs_item_image img
						{
							width: 15px;
							height: 15px;
						}
						
					.searchresult_techs_item_name
					{
						position: relative;
						float: left;
						margin-left: 5px;
						line-height: 15px;
						font-size: 12px;
						font-weight: bold;
					}	
	
	.searchresult.is_dummy
	{
		display: none;
	}
	
	
	
	
