

	.lb-dataContainer
	{
		background-color: #e7eaec;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		
	}
	
	.lb-caption
	{
		font-size: 20px !important;
		font-weight: normal !important;
		line-height: 35px !important;
		color: #000000;
	}
	
	.lb-outerContainer
	{
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	
	.lb-data .lb-number
	{
		height: 0px !important;
		padding-bottom: 0px !important;
	}