/*
Copyright (c) 2003-2016, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

@font-face {
    font-family: 'oswald_regularregular';
    src: url('../../general/css/fonts/oswald-regular-webfont.eot');
    src: url('../../general/css/fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../general/css/fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('../../general/css/fonts/oswald-regular-webfont.woff') format('woff'),
         url('../../general/css/fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../../general/css/fonts/oswald-regular-webfont.svg#oswald_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'TradeGothic';
  src: url('../../general/css/fonts/TradeGothic.eot?#iefix') format('embedded-opentype'),
       url('../../general/css/fonts/TradeGothic.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic.svg#TradeGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-Bold';
  src: url('../../general/css/fonts/TradeGothic-Bold.eot?#iefix') format('embedded-opentype'),  
  	   url('../../general/css/fonts/TradeGothic-Bold.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic-Bold.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic-Bold.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic-Bold.svg#TradeGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldCondTwenty';
  src: url('../../general/css/fonts/TradeGothic-BoldCondTwenty.eot?#iefix') format('embedded-opentype'),  
  	   url('../../general/css/fonts/TradeGothic-BoldCondTwenty.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic-BoldCondTwenty.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic-BoldCondTwenty.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic-BoldCondTwenty.svg#TradeGothic-BoldCondTwenty') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldCondTwentyObl';
  src: url('../../general/css/fonts/TradeGothic-BoldCondTwentyObl.eot?#iefix') format('embedded-opentype'),  
  	   url('../../general/css/fonts/TradeGothic-BoldCondTwentyObl.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic-BoldCondTwentyObl.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic-BoldCondTwentyObl.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic-BoldCondTwentyObl.svg#TradeGothic-BoldCondTwentyObl') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldOblique';
  src: url('../../general/css/fonts/TradeGothic-BoldOblique.eot?#iefix') format('embedded-opentype'),  
  	   url('../../general/css/fonts/TradeGothic-BoldOblique.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic-BoldOblique.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic-BoldOblique.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic-BoldOblique.svg#TradeGothic-BoldOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldTwo';
  src: url('../../general/css/fonts/TradeGothic-BoldTwo.eot?#iefix') format('embedded-opentype'),  
  	   url('../../general/css/fonts/TradeGothic-BoldTwo.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic-BoldTwo.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic-BoldTwo.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic-BoldTwo.svg#TradeGothic-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldTwoOblique';
  src: url('../../general/css/fonts/TradeGothic-BoldTwoOblique.eot?#iefix') format('embedded-opentype'),  
  	   url('../../general/css/fonts/TradeGothic-BoldTwoOblique.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic-BoldTwoOblique.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic-BoldTwoOblique.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic-BoldTwoOblique.svg#TradeGothic-BoldTwoOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-CondEighteen';
  src: url('../../general/css/fonts/CondEighteen.eot?#iefix') format('embedded-opentype'),
       url('../../general/css/fonts/CondEighteen.otf')  format('opentype'),
	   url('../../general/css/fonts/CondEighteen.woff') format('woff'), 
	   url('../../general/css/fonts/CondEighteen.ttf')  format('truetype'), 
	   url('../../general/css/fonts/CondEighteen.svg#CondEighteen') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-CondEighteenObl';
  src: url('../../general/css/fonts/CondEighteenObl.eot?#iefix') format('embedded-opentype'),
       url('../../general/css/fonts/CondEighteenObl.otf')  format('opentype'),
	   url('../../general/css/fonts/CondEighteenObl.woff') format('woff'), 
	   url('../../general/css/fonts/CondEighteenObl.ttf')  format('truetype'), 
	   url('../../general/css/fonts/CondEighteenObl.svg#CondEighteenObl') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-Light';
  src: url('../../general/css/fonts/TradeGothic-Light.eot?#iefix') format('embedded-opentype'),  
  	   url('../../general/css/fonts/TradeGothic-Light.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic-Light.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic-Light.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic-Light.svg#TradeGothic-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-LightOblique';
  src: url('../../general/css/fonts/TradeGothic-LightOblique.eot?#iefix') format('embedded-opentype'),  
  	   url('../../general/css/fonts/TradeGothic-LightOblique.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic-LightOblique.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic-LightOblique.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic-LightOblique.svg#TradeGothic-LightOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-Oblique';
  src: url('../../general/css/fonts/TradeGothic-Oblique.eot?#iefix') format('embedded-opentype'),  
  	   url('../../general/css/fonts/TradeGothic-Oblique.otf')  format('opentype'),
	   url('../../general/css/fonts/TradeGothic-Oblique.woff') format('woff'), 
	   url('../../general/css/fonts/TradeGothic-Oblique.ttf')  format('truetype'), 
	   url('../../general/css/fonts/TradeGothic-Oblique.svg#TradeGothic-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}


body
{
	/* Font */
	font-family: 'oswald_regularregular';
	font-size: 12px;

	/* Text color */
	color: #000000;

	/* Remove the background color to make it transparent */
	background-color: #fff;

	margin: 20px;
}

.cke_editable
{
	font-size: 12px;
	line-height: 14px;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}

blockquote
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

p
{
	margin-top: 0px;
	margin-bottom: 0px;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0px 0px 0px 30px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}
