
.has_placeholder:empty:not(:focus):before
{
    content: attr(data-text);
	font-size: 14px;
	color: #cecece;
	font-weight: bold;
}

.unselectable
{
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

#control_container
{
	position: absolute;
	left: 970px;
	top: 100px;
}

	#module_container
	{
		position: relative;
		margin-bottom: 100px;
	}
	
		#module_container ul
		{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
		}
		
			#module_container li
			{
				width: 200px;
				line-height: 40px;
				border: solid 2px #000000;
				text-align: center;
				background-color: #cecece;
				margin-top: 5px;
				cursor: pointer;
			}
			
			#module_container li:hover
			{
				font-weight: bold;
			}
			
			#module_container li:first-child
			{
				margin-top: 0px;
			}
			
	#button_container
	{
		position: relative;
	}		
	
		#button_container ul
		{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
		}
		
			#button_container li
			{
				width: 200px;
				line-height: 40px;
				border: solid 2px #cecece;
				text-align: center;
				background-color: #000000;
				margin-top: 5px;
				cursor: pointer;
				color: #ffffff;
			}
			
			#button_container li:hover
			{
				font-weight: bold;
			}
			
			#button_container li:first-child
			{
				margin-top: 0px;
			}

#content_menu_container
{
	position: absolute;
	z-index: 90;
	width: 752px;
	border-top: solid 20px #ffffff;
	top: 0px;
	
}			
			
	#content_menu
	{
		position: relative;
		width: 98%;
		padding: 0px 1%;
		background-color: #ddd;
		overflow: hidden;
	}
	
		.content_menu_item
		{
			position: relative;
			float: left;
			line-height: 30px;
			font-size: 20px;
		}
		
		.nofloat
		{
			float: none;
		}
		
			.content_menu_item select
			{
				position: relative;
				float: left;
				line-height: 26px;
				font-size: 16px;
				height: 22px;
				margin: 4px 0px;
				margin-left: 5px;
				border: solid 1px #000000;
			}
		
			.content_menu_item_button
			{
				position: relative;
				float: left;
				background-color: #ffffff;
				color: #000000;
				margin: 4px 0px;
				border: solid 1px #000000;
				border-radius: 4px;
				padding: 2px 6px;
				cursor: pointer;
				font-size: 16px;
				height: 16px;
				line-height: 16px;	
				margin-left: 5px;
			}
		
			.content_menu_item span
			{
				float: left;
			}
			
		.content_menu_separator
		{
			position: relative;
			float: left;
			line-height: 30px;
			font-size: 25px;
			font-weight: bold;
			margin: 0px 20px;
			color: #ffffff;
		}	
			
#content_container
{
	position: relative;
	width: 752px;
	margin-top: 80px;
	border: solid 1px #ddd;
	overflow: hidden;
}

	













	.popup_edit
	{
		position: fixed;
		z-index: 100;
		top: 100px;
		width: 600px;
		height: auto;
		left: 50%;
		margin-left: -300px;
		display: none;
		background-color: #cecece;
		border: solid 2px #000000;
		padding: 15px;
		overflow: hidden;
	}
	
		.popup_edit .header
		{
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px;
			float: left;
			width: 100%;
		}
		
		.popup_edit_container
		{
			position: relative;
			float: left;
			width: 400px;
			margin-right: 15px;
		}
		
		.popup_edit_controls
		{
			position: relative;
			float: left;
			width: 185px;
		}
		
			.popup_edit_button
			{
				width: 181px;
				border: solid 2px #000000;
				background-color: #ffffff; 		
				margin-bottom: 5px;		
				text-align: center;
				line-height: 25px;
				cursor: pointer;
			}
			
			.popup_edit_button:last-child
			{
				margin-bottom: 0px;
			}

		#popup_edit_text textarea
		{
			font-size: 14px;
			resize: none;
			width: 400px;
			border: 0px;
			height: 280px;
		}
		
		#module_store_editor
		{
			width: 300px;
		}
		
		#popup_module_store select
		{
			width: 300px;
		}
		
		.popup_edit #file_upload_button
		{
			display: none;
		}
		
	#popup_module_text
	{
		margin-left: 0px;
		width: 990px;
		height: 600px;
	}	
	
		#popup_module_text .popup_edit_container
		{
			width: 790px;
		}
		
		
		
	#popup_module_image
	{
		width: 638px;
	}
	
		#module_image_upload_button, #module_image_filemanager, #module_gallery_filemanager
		{
			position: relative;
			border: solid 2px #000000;
			background-color: #ffffff;
			text-align: center;
			line-height: 20px;
			font-size: 16px;
			cursor: pointer;
			width: 180px;
		}
		
		#module_image_upload_input
		{
			display: none;
		}
		
		
		#module_image_upload_preview
		{
			position: relative;
			margin-top: 10px;
			max-width: 400px;
			border: solid 2px #000000;
			display: none;
		}
	
		#popup_module_image .popup_edit_container
		{
			width: 438px;
		}
		
		#module_image_upload_stretch
		{
			position: relative;
			margin-top: 10px;
		}
		
		#module_image_upload_align
		{
			position: relative;
			margin-top: 10px;
		}
		
		#module_image_upload_caption
		{
			position: relative;
			margin-top: 10px;
			width: 100%;
		}
		
		#popup_module_image table
		{
			width: 100%;
			border-collapse: separate;
		}
		
	#popup_module_multiplechoice4
	{
		
	}	
		#popup_module_multiplechoice4 table
		{
			width: 100%;
		}
	
		#popup_module_multiplechoice4 textarea
		{
			width: 100%;
			height: 50px;
			margin-bottom: 7px;
		}
		
	#popup_module_assessment
	{
		
	}	
		#popup_module_assessment table
		{
			width: 100%;
		}
	
		#popup_module_assessment textarea
		{
			width: 100%;
			height: 50px;
		}
		
		#popup_module_assessment select
		{
			margin-bottom: 12px;
		}
		
		
	#popup_module_accordionstart
	{
		
	}	
		#popup_module_accordionstart table
		{
			width: 100%;
		}
		
	#popup_module_accordionend
	{
		width: 185px;
	}	
	
	
	#popup_module_sequence
	{
		width: 950px;
		margin-left: 0px;
		left: 30px;
		top: 50px;
	}
	
		#popup_module_sequence .popup_edit_container
		{
			width: 750px;
		}
	
		#popup_module_sequence table
		{
			width: 100%;
		}
	
		#popup_module_sequence textarea
		{
			width: 100%;
			height: 60px;
			margin: 7px 0px;
			padding: 0px;
			border: 0px;
			resize: none;
		}
		
		#module_sequence_upload_button, #module_sequence_add_button, #module_gallery_upload_button, #module_sequence_filemanager
		{
			position: relative;
			border: solid 2px #000000;
			background-color: #ffffff;
			text-align: center;
			line-height: 20px;
			font-size: 16px;
			cursor: pointer;
			width: 180px;
		}
		
		#module_sequence_filemanager
		{
			margin-top: 5px;
		}
		
		#module_sequence_upload_input, #module_gallery_upload_input 
		{
			display: none;
		}
		
		#module_sequence_upload_preview
		{
			position: relative;
			margin-top: 10px;
			max-width: 238px;
			max-height: 238px;
			border: solid 2px #000000;
			display: none;
		}
		
		#module_sequence_text
		{
			resize: none;
		}
		
		#module_sequence_add_button
		{
			margin-bottom: 10px;
		}
		
		#sequence_list
		{
			margin-top: 10px;
			width: 780px;
			overflow: hidden;
			overflow-y: auto;
			height: 240px;
		}
		
		.module_sequence_item_cont
		{
			position: absolute;
			left: 0px;
			top: 0px;
			background-color: rgba(255,255,255,0.7);
			width: 100%;
			cursor: pointer;
		}
		
			.module_sequence_item_cont_edit
			{
				position: relative;
				width: 100%;
				text-align: center;
				font-size: 12px;
				font-weight: bold;
				line-height: 18px;
				color: #000000;
			}
			
			.module_sequence_item_cont_delete
			{
				position: relative;
				width: 100%;
				text-align: center;
				font-size: 12px;
				font-weight: bold;
				line-height: 18px;
				color: #000000;
			}

		
	#module_gallery_items
	{
		position: relative;
		width: 326px;
		border: solid 2px #000000;
		overflow: hidden;
		padding: 10px 10px 0px 10px;
		margin-top: 15px;
	}	
	
		#module_gallery_items .gallery_item
		{
			position: relative;
			float: left;
			width: 100px;
			height: 100px;
			margin-right: 10px;
			margin-bottom: 10px;
			text-align: center;
			border: solid 1px #000000;
		}
		
		#module_gallery_items .gallery_item:nth-child(3n+3)
		{
			margin-right: 0px;
		}
		
		#module_gallery_items .gallery_item img
		{
			position: relative;
			vertical-align: middle;
			max-width: 100%;
			max-height: 100%;
		}
		
	#popup_module_video
	{
		
	}	
		
		.module_video_overlay, .module_vimeo_overlay
		{
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1000;
		}	

	/**********************************
	 * CROPPING TAKEN FROM BESC_CRUD
	 ************************************/
#bc_upload_crop_fade
{
	position: fixed;
	z-index: 9000;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.8);
}

#bc_upload_crop
{
	position: fixed;
	z-index: 9100;
	background-color: #ffffff;
	padding: 30px;
}

	#bc_upload_crop_img
	{
		position: relative;
		width: 0px;
		height: 0px;
		border: solid 2px #000000;
		width: 500px;
		height: 500px;
	}
	
	#bc_upload_crop_btn
	{
		position: relative;
		margin: 10px 10% 0px 10%;
		width: 30%;
		line-height: 20px;
		border: solid 2px #000000;
		cursor: pointer;
		font-size: 15px;
		text-align: center;
		float: left;
	}	

	#bc_upload_skip_btn
	{
		position: relative;
		margin: 10px 10% 0px 0px;
		width: 30%;
		line-height: 20px;
		border: solid 2px #000000;
		cursor: pointer;
		font-size: 15px;
		text-align: center;
		float: left;	
	}
	
