


.module
{
	position: relative;
	width: 100%;
	float: left;	
	cursor: pointer;
	border: solid 1px #cecece;	
	line-height: 14px;
	margin-bottom: 10px;
	z-index: 80;
}

	.module:last-child
	{
		margin-bottom: 0px;
	}

	.module a
	{
		color: inherit;
	}

	.module_text
	{
		font-size: 12px;
		line-height: 1.2em;
		color: #000000;	
	}
		.module_text h1
		{
			font-size: 16px;
			font-weight: bold;
		}
		
		.module_text h2
		{
			font-size: 14px;
			font-weight: bold;
		}
		
		.module_text h3
		{
			font-size: 14px;
			font-style: italic;
		}
		
		.module_text td, .module_text th, .module_text table
		{
			border: solid 1px #000000;
		}
		
		.module_text table
		{
			border-collapse: separate;
			border-spacing: auto;
		}
		
		.module_text ol
		{
			list-style: decimal;
		}
		
		.module_text ul
		{
			list-style: disc;
		}
		
		.module_text li
		{
			margin-left: 30px;
		}
		
		.module_text span
		{
			line-height: 1.2em;
		}
	
	.module_image
	{

	}
				
		.module_image img
		{
			vertical-align: middle;
		}
		
		.module_image_caption
		{
			font-size: 12px;
			font-style: italic;
			text-align: right;
			text-color: #ffffff;
		}
		
	.module_multiplechoice4
	{
		overflow: hidden;
		padding-top: 5px;
		padding-bottom: 5px;
	}	
	
		.module_question
		{
			position: relative;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
			font-size: 30px;
			line-height: 30px;
			text-align: center;
			text-transform: uppercase;
			color: #5a5952;
		}
	
		.module_answer
		{
			position: relative;
			width: 92%;
			font-size: 14px;
			line-height: 16px;
			margin: 2%;
			padding: 2%;
			background-color: #ffffff;
			cursor: pointer;
			border: solid 1px #c1c1c1;
			color: #5a5952;
		}
		
		.module_answer_correct
		{
			background-color: #82BF56 !important;
			color: #ffffff !important;
			/*border-bottom: 5px solid #669644 !important;
			text-shadow: 0px -2px #669644 !important;*/
		}
		
		.module_answer_false
		{
			background-color: #E74C3C !important;
			color: #ffffff !important;
			/*border-bottom: 5px solid #BD3E31 !important;
			text-shadow: 0px -2px #BD3E31 !important;*/			
		}
		
		.animate
		{
			/*transition: all 0.1s;
			-webkit-transition: all 0.1s;*/
		}
		
		.animate:active
		{
			/*transform: translate(0px,5px);
			-webkit-transform: translate(0px,5px);
			border-bottom: 1px solid #dadada !important;*/
		}
		
		.animate:hover
		{
			background-color: #5a5952;
			color: #ffffff;
		}
		
	.module_video
	{
	
	}

		.module_video_iframe
		{
			width: inherit;
			height: 423px;
			z-index: 100;
			vertical-align: middle;
		}
		

	.module_accordion_start
	{
		position: relative;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		background-color: #edece2;
		margin-bottom: 0px;
		text-transform: uppercase;
		color: #5a5952; 
		border: 1px solid #b4b4b4 !important;
	}

		.module_Accordion_start_open
		{
			border-bottom: 0px !important;
		}
	
		.module_accordion_arrow
		{
			position: absolute;
			left: 0px;
			top: 0px;
			cursor: pointer;
			background-image: url('../../frontend/img/acc_arrow_right.png');
			background-repeat: no-repeat;
			background-position: center center;
			width: 50px;
			height: 40px;
		}
		
		.module_Accordion_start_open .module_accordion_arrow
		{
			background-image: url('../../frontend/img/acc_arrow_down.png');		
		}
		
		.module_accordion_headline
		{
			position: absolute;
			left: 50px;
			top: 0px;
			line-height: 40px;
			height: 40px;
			width: 648px;
		}
	
	.module_accordion_content
	{
		position: relative;
		float: left;
		background-color: #EDEBE2;
		padding: 0px 5px;
		width: 738px;
		margin-bottom: 10px;
		height: 0px;
		overflow: hidden;
		border-top: 0px !important;
	}
	
	.module_accordion_end
	{
		position: relative;
		height: 10px;
		background-color: #fafafa;
	}	
	
	
	.module_sequence
	{
		
	}
	
		.module_sequence ol
		{
			list-style: decimal;
		}
		
		.module_sequence ul
		{
			list-style: disc;
		}
	
		.module_sequence_item
		{
			position: relative;
			width: 238px;
			float: left;
			height: auto;
			margin-right: 15px;
			margin-bottom: 15px;
			border: solid 1px #818181;
			background-color: #dcdbd3;
			overflow: hidden;
		}
		
		.module_sequence_item a
		{
			color: inherit;
			width: 100%;
			height: auto;
		}
		
		.module_accordion_content .module_sequence_item
		{
			margin-right: 9px;
			margin-bottom: 9px;
			border: solid 1px #818181;
		}
		
		.module_accordion_content .module_accordion_content .module_sequence_item
		{
			margin-right: 2px;
			margin-bottom: 2px;
			border: solid 1px #818181;
		}

			.module_sequence_item:nth-child(3n+3)
			{
				margin-right: 0px;
			}
		
			.module_sequence_img
			{
				position: relative;
				/*display: table-cell;
				*/
				width: 218px;
				height: 128px;
				padding: 10px;
				text-align: -webkit-center;
				object-fit: contain;
				background-color: #dcdbd3;
				vertical-align: middle;
			}
			
				.module_sequence_img img
				{
					position: relative;
					display: block !important;
					max-width: 100%;
					max-height: 100%;
					vertical-align: middle;
				}
				
			.module_sequence_desc
			{
				position: relative;
				overflow: hidden;
				font-size: 12px;
				background-color: #dcdbd3;
				width: 90%;
				min-height: 118px;
				padding: 10px 5% 10px 5%;
			}	
			
				.module_sequence_enlarge
				{
					position: relative;
					text-align: right;
					font-size: 10px;
					margin-right: -8px;
					margin-top: -5px;
				}
				
				.module_sequence_ordering
				{
					position: relative;
					float: left;
					width: 25px;
					height: 25px;
					line-height: 25px;
					font-size: 13px;
					background-color: #5a5952;
					border-radius: 50%;
					display: inline-block;
					color: #ffffff;
					text-align: center;
				}
				
				.module_sequence_headline
				{
					position: relative;
					float: left;
					line-height: 16px;
					font-size: 16px;
					text-transform: uppercase;
					color: #5a5952;
					margin-left: 8px;
					margin-right: 10px;
					width: 170px;
					margin-top: 4px; 
				}
				
				.module_sequence_text
				{
					position: relative;
					overflow-wrap: break-word;
					float: left;
					margin-left: 33px;
					margin-top: 5px;
					font-size: 12px;
					color: #5a5952;
				}

				
				
		.leftright .module_sequence_item 
		{
			position: relative;
			width: 360px;
			float: left;
			height: 250px;
			margin-right: 26px;
			margin-bottom: 26px;
		}	

		.module_accordion_content .leftright .module_sequence_item 
		{
			margin-right: 14px;
			margin-bottom: 14px;
			border: solid 1px #818181;
		}
		
		.module_accordion_content .module_accordion_content .module_sequence_item
		{
			margin-right: 2px;
			margin-bottom: 2px;
			border: solid 1px #818181;
		}
		
			
			
			.leftright .module_sequence_item:nth-child(3n+3)
			{
				margin-right: 16;
			}
			
			.leftright .module_sequence_item:nth-child(2n+2)
			{
				margin-right: 0px;
			}
		
			.leftright .module_sequence_img
			{
				position: relative;
				left: 0px;
				top: 0px;
				width: 172px;
				height: 230px;
			}
			
				.leftright .module_sequence_img img
				{
					position: relative;
					display: block !important;
					max-width: 100%;
					max-height: 100%;
					vertical-align: middle;
				}
				
			.leftright .module_sequence_desc
			{
				position: absolute;
				overflow: initial !important;
				left: 192px;
				top: 0px;
				width: 154px;
				min-height: 236px;
				padding: 7px 7px 7px 7px;
			}	
			
				.leftright .module_sequence_enlarge
				{
					display: none;
				}
				
				.leftright .module_sequence_headline
				{
					position: relative;
					float: none;
					line-height: 16px;
					font-size: 16px;
					margin-left: 0px;
					text-transform: uppercase;
					color: #5a5952;
					width: 154px;
					margin-top: 8px; 
				}
				
				.leftright .module_sequence_text
				{
					position: relative;
					float: inital;
					margin-left: 0px;
					margin-top: 8px;
					font-size: 12px;
					color: #5a5952;
					width: 154px;
				}
				
				.leftright .module_sequence_ordering
				{
					position: relative;
					float: none;
					width: 25px;
					height: 25px;
					line-height: 25px;
					font-size: 13px;
					background-color: #5a5952;
					border-radius: 50%;
					display: inline-block;
					color: #ffffff;
					text-align: center;
				}
				
	.module_gallery
	{
		width: 750px;

	}			
	
		.module_gallery_item
		{
			position: relative;
			float: left;
			width: 242px;
			height: 242px;
			margin-right: 12px;
			margin-bottom: 12px;
			text-align: center;
		}
		
			.module_gallery_item img
			{
				position: relative;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
			}
			
			.module_gallery_item:nth-child(3n+3)
			{
				margin-right: 0px;
			}
		

#start_quiz, #start_assessment 
{
	position: relative;
	margin: 20px 200px;
	text-align: center;
	width: 350px;
	line-height: 30px;
	font-size: 20px;
	background-color: #ffffff;
	cursor: pointer;
	border: solid 1px #c1c1c1;
	color: #5a5952;
}
	
	#start_quiz a, #start_assessment a
	{
		color: inherit;
		text-decoration: none;
	}
	
	#start_quiz:hover, #start_assessment:hover
	{
		background-color: #5a5952;
		color: #ffffff;
	}
	
#lesson_register_success
{
	position: relative;
	display: none;
	margin-top: 20px;
	width: 100%;
	text-align: center;
}

#lesson_register
{
	cursor: pointer;
}

#lesson_register_loading
{
	position: relative;
	display: none;
	margin: auto;
	width: 16px;
	height: 16px;
	margin-top: 20px;
}


		

