

@font-face {
    font-family: 'oswald_regularregular';
    src: url('fonts/oswald-regular-webfont.eot');
    src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('fonts/oswald-regular-webfont.woff') format('woff'),
         url('fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('fonts/oswald-regular-webfont.svg#oswald_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldextralight';
    src: url('fonts/oswald-extralight-webfont.eot');
    src: url('fonts/oswald-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-extralight-webfont.woff2') format('woff2'),
         url('fonts/oswald-extralight-webfont.woff') format('woff'),
         url('fonts/oswald-extralight-webfont.ttf') format('truetype'),
         url('fonts/oswald-extralight-webfont.svg#oswaldextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'TradeGothic';
  src: url('fonts/TradeGothic.eot?#iefix') format('embedded-opentype'),
       url('fonts/TradeGothic.otf')  format('opentype'),
	   url('fonts/TradeGothic.woff') format('woff'), 
	   url('fonts/TradeGothic.ttf')  format('truetype'), 
	   url('fonts/TradeGothic.svg#TradeGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-Bold';
  src: url('fonts/TradeGothic-Bold.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/TradeGothic-Bold.otf')  format('opentype'),
	   url('fonts/TradeGothic-Bold.woff') format('woff'), 
	   url('fonts/TradeGothic-Bold.ttf')  format('truetype'), 
	   url('fonts/TradeGothic-Bold.svg#TradeGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldCondTwenty';
  src: url('fonts/TradeGothic-BoldCondTwenty.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/TradeGothic-BoldCondTwenty.otf')  format('opentype'),
	   url('fonts/TradeGothic-BoldCondTwenty.woff') format('woff'), 
	   url('fonts/TradeGothic-BoldCondTwenty.ttf')  format('truetype'), 
	   url('fonts/TradeGothic-BoldCondTwenty.svg#TradeGothic-BoldCondTwenty') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldCondTwentyObl';
  src: url('fonts/TradeGothic-BoldCondTwentyObl.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/TradeGothic-BoldCondTwentyObl.otf')  format('opentype'),
	   url('fonts/TradeGothic-BoldCondTwentyObl.woff') format('woff'), 
	   url('fonts/TradeGothic-BoldCondTwentyObl.ttf')  format('truetype'), 
	   url('fonts/TradeGothic-BoldCondTwentyObl.svg#TradeGothic-BoldCondTwentyObl') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldOblique';
  src: url('fonts/TradeGothic-BoldOblique.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/TradeGothic-BoldOblique.otf')  format('opentype'),
	   url('fonts/TradeGothic-BoldOblique.woff') format('woff'), 
	   url('fonts/TradeGothic-BoldOblique.ttf')  format('truetype'), 
	   url('fonts/TradeGothic-BoldOblique.svg#TradeGothic-BoldOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldTwo';
  src: url('fonts/TradeGothic-BoldTwo.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/TradeGothic-BoldTwo.otf')  format('opentype'),
	   url('fonts/TradeGothic-BoldTwo.woff') format('woff'), 
	   url('fonts/TradeGothic-BoldTwo.ttf')  format('truetype'), 
	   url('fonts/TradeGothic-BoldTwo.svg#TradeGothic-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-BoldTwoOblique';
  src: url('fonts/TradeGothic-BoldTwoOblique.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/TradeGothic-BoldTwoOblique.otf')  format('opentype'),
	   url('fonts/TradeGothic-BoldTwoOblique.woff') format('woff'), 
	   url('fonts/TradeGothic-BoldTwoOblique.ttf')  format('truetype'), 
	   url('fonts/TradeGothic-BoldTwoOblique.svg#TradeGothic-BoldTwoOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-CondEighteen';
  src: url('fonts/CondEighteen.eot?#iefix') format('embedded-opentype'),
       url('fonts/CondEighteen.otf')  format('opentype'),
	   url('fonts/CondEighteen.woff') format('woff'), 
	   url('fonts/CondEighteen.ttf')  format('truetype'), 
	   url('fonts/CondEighteen.svg#CondEighteen') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-CondEighteenObl';
  src: url('fonts/CondEighteenObl.eot?#iefix') format('embedded-opentype'),
       url('fonts/CondEighteenObl.otf')  format('opentype'),
	   url('fonts/CondEighteenObl.woff') format('woff'), 
	   url('fonts/CondEighteenObl.ttf')  format('truetype'), 
	   url('fonts/CondEighteenObl.svg#CondEighteenObl') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-Light';
  src: url('fonts/TradeGothic-Light.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/TradeGothic-Light.otf')  format('opentype'),
	   url('fonts/TradeGothic-Light.woff') format('woff'), 
	   url('fonts/TradeGothic-Light.ttf')  format('truetype'), 
	   url('fonts/TradeGothic-Light.svg#TradeGothic-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-LightOblique';
  src: url('fonts/TradeGothic-LightOblique.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/TradeGothic-LightOblique.otf')  format('opentype'),
	   url('fonts/TradeGothic-LightOblique.woff') format('woff'), 
	   url('fonts/TradeGothic-LightOblique.ttf')  format('truetype'), 
	   url('fonts/TradeGothic-LightOblique.svg#TradeGothic-LightOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic-Oblique';
  src: url('fonts/TradeGothic-Oblique.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/TradeGothic-Oblique.otf')  format('opentype'),
	   url('fonts/TradeGothic-Oblique.woff') format('woff'), 
	   url('fonts/TradeGothic-Oblique.ttf')  format('truetype'), 
	   url('fonts/TradeGothic-Oblique.svg#TradeGothic-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
